@model MvcThemes.Models.Index.IndexModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><span style="color: #ff69b4">PINK</span></h1>
    <p class="lead">This is a pretty pink theme!</p>
    <p>
        @Html.Partial("_ChangeTheme", Model)
    </p>
</div>

@Html.Partial("_GettingStartedRow")