@model MvcThemes.Models.Index.IndexModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DEFAULT</h1>
    <p class="lead">The default theme is used if a specific themable view is not found.</p>
    <p>
        @Html.Partial("_ChangeTheme", Model)
    </p>
</div>

@Html.Partial("_GettingStartedRow")